/*reset styles*/
* {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 0.4mm;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background);
}
/* variables */
:root {
  --background: #010409;
  --country-background: #010409;
  --nav-bar-color: #161b22;
  --cards: #0d1117;
  --card-border: #30363d;
  --placeholder-color: #5d646e;
  --warning-text: #a2a9b1;
  --card-text-color: #a2a9b1;
  --input-text-color: #a2a9b1;
  --loading: white;
}
/*top bar styles*/
.bar {
  background-color: var(--nav-bar-color);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bar > div {
  display: flex;
  align-items: center;
}
.bar > div svg {
  background-color: var(--nav-bar-color);
  fill: white;
  cursor: pointer;
  width: 30px;
}
.app-name {
  margin: 0 20px;
  font-size: 40px;
}
.fa-github:hover {
  color: #eec124;
  cursor: pointer;
}
/* icon color */
.fa-github,
.fa-magnifying-glass {
  cursor: pointer;
  color: var(--card-text-color);
}
.fa-magnifying-glass {
  margin: 5px;
  padding-top: 1.5px;
}
/*trash can*/
.fa-trash-can {
  float: right;
  margin: 25px;
  cursor: pointer;
  color: #333;
}
.fa-trash-can:hover {
  color: red;
}
/*form, button, input within wrapper styles*/
form {
  margin-top: 100px;
  text-align: center;
}
button {
  padding-top: 3px;
  border-radius: 5px;
  cursor: pointer;
}
.dark-mode-btn {
  background-color: var(--cards);
  border: 3px solid var(--cards);
}
.dark-mode-btn:hover {
  background-color: var(--card-border);
  border: 3px solid var(--card-border);
}

input {
  background: var(--background);
  color: var(--input-text-color);
  margin-right: 10px;
  border: 1px solid var(--card-border);
  border-radius: 5px;
  padding: 5px 10px 5px 7px;
  font-size: 20px;
}
::placeholder {
  color: var(--placeholder-color);
  padding: 0;
  font-size: 20px;
}
input:focus {
  outline: solid #58a6ff;
  box-shadow: 0 0 5px #58a6ff;
}
.invalid-input {
  /*when the .catch() is triggered*/
  color: var(--warning-text);
  margin-top: 10px;
}
.loading {
  color: var(--loading);
}
/*wrapper styles*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*weather card div styles within wrapper div*/
.weather-card {
  color: var(--card-text-color);
  background: var(--cards);
  border: 1px solid var(--card-border);
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin: 50px;
  padding: 20px;
}
.city {
  display: inline-block;
  align-self: flex-end;
  margin-right: 5px;
}
.country {
  padding: 1px 5px;
  background-color: var(--country-background);
  font-size: 13px;
  border-radius: 10px;
  align-self: flex-start;
}
.location {
  display: flex;
  height: 30px;
}
.temperature {
  margin-top: 20px;
  font-size: 35px;
}
.description {
  margin-top: 100px;
}
.fa-xmark {
  float: right;
}
.fa-xmark:hover {
  cursor: pointer;
  color: red;
}

/*fahrenheit and celsius temp styles*/
.convert {
  color: #666;
  cursor: pointer;
}

/*media querries*/

@media only screen and (max-width: 640px) {
  .app-name {
    font-size: 20px;
  }
  a {
    font-size: 12;
  }
  form {
    margin-top: 150px;
    text-align: center;
  }
}
@media only screen and (max-width: 301px) {
  .app-name {
    font-size: 20px;
  }
  a {
    font-size: 12;
  }
  input {
    width: 175px;
  }
  .wrapper {
    margin-top: 20px;
  }
  .weather-card {
    width: 175px;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 978px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .weather-card {
    margin: 30px 50px;
  }
  form {
    text-align: left;
    margin-left: 100px;
  }
}
